@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--swiper--*/
.swiper {
  background: #000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper{
  padding: 0 30%;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
  padding: 5px;
}

.mySwiper .swiper-slide:hover{
  opacity: 1;

}

.mySwiper .swiper-slide-thumb-active {
  background: #777 ;
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/*--swiperここまで--*/